.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.click_gretting {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 29vw;
}

.click_gretting_mobile {
    display: none;
}

.modal_place_mobile {
    display: none;
}

.click_title {
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

.good_job_modal_place {
    display: flex;
    justify-content: center;
}

.good_job_modal {
    width: 20vw;
    font-size: 1.3vw;
    text-align: center;
    border-radius: 1.5vw;
}

.worst_score {
    background-color: red;
}

.bad_score {
    background-color: darkRed;
}

.average_score {
    background-color: orange;
}

.good_score {
    background-color: green;
}

.best_score {
    background-color: gold;
}

.title_one {
    font-size: 1.5vw;
    text-align: center;
}

.title_two {
    font-size: 1.3vw;
    text-align: center;
}

.click_place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.click_settings {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.click_counter {
    font-size: 1.5vw;
}

.click_blcok {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    opacity: 0.5;
    background: linear-gradient(to right, rgb(176, 6, 243), rgb(166, 0, 166));
    border: 1px solid;
    border-radius: 2vw;
    cursor: pointer;
    overflow: hidden; 
}

.time_remain {
    font-size: 5vw;
    user-select: none;  
}
  
.wave {
    position: absolute;
    width: 1.5vw;
    height: 3vh;
    background-color: rgba(128, 0, 255);
    border-radius: 50%;
    pointer-events: none; 
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: all 0.6s ease-out;
    z-index: 10;
}
  
.wave.animate {
    transform: translate(-50%, -50%) scale(15); 
    opacity: 0;
}

.click_btn {
    padding: 1vw;
    border-radius: 2vw;
    font-size: 1.2vw;
    border: none;
    background-color: rgb(176, 6, 243);
    cursor: pointer;
}

.click_btn_useless {
    padding: 1vw;
    border-radius: 2vw;
    font-size: 1.2vw;
    border: none;
    background-color: gray;
    cursor: pointer;
}

.autor_link_place {
    margin-top: auto;
    margin-bottom: 2vh;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.autor_link {
    font-size: 1.7vw;
    color: rgb(176, 6, 243);
    text-decoration: none;
}

@media all and (max-width: 768px) {
    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    
    .click_gretting {
        display: none;
    }

    .click_gretting_mobile {
        display: block;
    }
    
    .click_title_mobile {
        display: flex;
        justify-self: flex-end;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
    }

    .modal_place_mobile {
        display: flex;
        margin-top: 8vw;
    }
    
    .good_job_modal {
        width: 40vw;
        height: 20vh;
        font-size: 2.8vw;
        text-align: center;
        border-radius: 3vw;
    }

    .title_one_mobile {
        font-size: 3.2vw;
        text-align: center;
    }
    
    .title_two_mobile {
        font-size: 2.8vw;
        text-align: center;
    }
    
    .click_place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vw;
    }
    
    .click_settings {
        display: flex;
        width: 50vw;
        justify-content: space-between;
        align-items: center;
    }
    
    .click_counter {
        font-size: 3vw;
    }
    
    .click_blcok {
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 30vh;
        opacity: 0.5;
        background: linear-gradient(to right, rgb(176, 6, 243), rgb(166, 0, 166));
        border: 1px solid;
        border-radius: 5vw;
        cursor: pointer;
        overflow: hidden; 
    }
    
    .time_remain {
        font-size: 10vw;
        user-select: none;  
    }
      
    .wave {
        position: absolute;
        width: 5vw;
        height: 5vw;
        background-color: rgba(128, 0, 255);
        border-radius: 50%;
        pointer-events: none; 
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: all 0.6s ease-out;
        z-index: 10;
    }
    
    .click_btn {
        padding: 1.5vw;
        border-radius: 3vw;
        font-size: 2.8vw;
        border: none;
        background-color: rgb(176, 6, 243);
        cursor: pointer;
    }

    .click_btn_useless {
        padding: 1.5vw;
        border-radius: 3vw;
        font-size: 2.8vw;
        border: none;
        background-color: gray;
        cursor: pointer;
    }
    
    .autor_link_place {
        margin-top: auto;
        margin-bottom: 2vh;
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }
    
    .autor_link {
        font-size: 3vw;
        color: rgb(176, 6, 243);
        text-decoration: none;
    }
}